@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
    font-family: "Berliner Fraktur";
    src: url("https://db.onlinewebfonts.com/t/5e93bbe9f881d16c72596c26b47a6c23.eot");
    src: url("https://db.onlinewebfonts.com/t/5e93bbe9f881d16c72596c26b47a6c23.eot?#iefix")format("embedded-opentype"),
        url("https://db.onlinewebfonts.com/t/5e93bbe9f881d16c72596c26b47a6c23.woff")format("woff"),
        url("https://db.onlinewebfonts.com/t/5e93bbe9f881d16c72596c26b47a6c23.woff2")format("woff2"),
        url("https://db.onlinewebfonts.com/t/5e93bbe9f881d16c72596c26b47a6c23.ttf")format("truetype"),
        url("https://db.onlinewebfonts.com/t/5e93bbe9f881d16c72596c26b47a6c23.svg#Berliner Fraktur")format("svg");
    font-weight:normal;
    font-style:normal;
    font-display:swap;
}

@import url("https://use.typekit.net/cix7ceo.css");

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "aktiv-grotesk", sans-serif, "Montserrat", sans-serif, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
    overflow: scroll;
    cursor: default;
}

a, button {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

button:not(.logo button) {
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

* {
  box-sizing: border-box;
}
#__next {
  height: 100%;
}
h1, h2, h3, h4, h5, h6, .logo {
  font-family: "Berliner Fraktur";
  color: #131313;
}
.h1 {
  font-size: 2.8rem;
}
.h6 {
  font-size: 2rem;
}
p {
  font-family: "aktiv-grotesk", sans-serif;
  font-weight: 200;
  color: #131313;
  letter-spacing: 0.01rem;
}
a:not(.logo a) {
  /* font-weight: 600; */
  text-decoration: underline;
  text-underline-offset: 2px;
}
.subtitle {
  text-transform: uppercase;
  font-weight: 300;
}
.wrapper {
  padding: 8rem 3rem;
  min-height: 100%;
}
.paragraph {
  font-size: 15px;
  font-weight: 300;
  line-height: 1.8;
}
.press {
  font-family: acumin-pro, sans-serif;
  font-weight: 800;
  font-style: italic;
}
.buttonSecondary {
  border-radius: 5px;
  background-color: #cae265;
  padding: 10px;
  width: 100px;
  text-transform: uppercase;
  font-size: small;
  font-weight: bold;
  letter-spacing: 1px;
}
.accentFont {
  font-family: acumin-pro, sans-serif;
  font-weight: 800;
  font-style: italic;
}

.buttonTertiary {
  outline: 1px solid white;
  border-radius: 5px;
  outline-offset: 4px;
  background-color: rgba(255, 255, 255, 0.75);
  padding: 10px;
  width: 200px;
  text-transform: uppercase;
  color: black;
  font-size: small;
}
.buttonTertiary:hover {
  background-color: unset;
  color: unset;
  transition: 250ms;
}
.heading {
  font-size: 4rem;
  font-weight: 600;
  font-family: bodoni;
  opacity: 25%;
  letter-spacing: 3px;
  text-transform: uppercase;
  line-height: 1;
}

.name {
  letter-spacing: 5px;
  text-transform: uppercase;
  font-family: "aktiv-grotesk-extended", sans-serif;
  font-weight: 200;
  font-style: normal;
  line-height: 1;
}

@media only screen and (max-width: 768px) {
  .name {
    padding-bottom: 8px;
  }
  .wrapper {
    padding: 4rem 3rem;
  }
  button {
    letter-spacing: 0;
  }
  .h1 {
    font-size: 2rem;
  }
}
